* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {

}

header {
    display: flex;
}

header nav{
    justify-content: flex-end;
}