





* {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: #F2D0A4;
}

/* Targets entire header section */
header {
    width: 100%;
    background-color: #3F826D;
    box-shadow: 2px 2px 5px gray;
    border-radius: 25px;
    margin-top: -40px;
}


header h1{
    margin-left: 20px;
    padding-top: 30px;
}

h2 {
    font-size: 30px;
}

/* Targets nav bar */
nav li{
    margin-bottom: 30px;
}

.customnav li {
    font-size: 20px;
}

/* nav li:hover {
    background-color: bisque;
    border-radius: 25px;
    margin: 5px;
} */

header nav ul{
    list-style-type: none;
}


/* Targets Projects section */
#projects {
    margin-bottom: 20px;
}
/* Resizes project images */
#project3 img{
    width: 50%;
    height: 25%;
    border: 5px solid black;
    box-shadow: 10px 10px 2px 1px rgba(0, 0, 255, .2);
}

#project2 img{
    width: 50%;
    border: 5px solid black;
    box-shadow: 10px 10px 2px 1px rgba(0, 0, 255, .2);
}

#project1 img {
    width: 100%;
    height: 50%;
    border: 5px solid black;
    box-shadow: 10px 10px 2px 1px rgba(0, 0, 255, .2);
}
/* Targets About section */
#about  {
    padding: 30px;
    margin-bottom: 30px;
    color: white;
    font-size: 18px;
}



#about img {
    width: 10%;
    margin: 20px;
    margin-bottom: -20px;
    border-radius: 25px;
    display: inline-block;
    box-shadow: 10px 5px 5px rgba(0, 0, 255, .2);
}

/* Targets Contact Me section */
#contact {
    background-color: #C03221;
    margin-top: 20px;
    padding: 30px;
}

footer {
    padding: 30px;
    text-align: center;
}


/* @media screen and (max-width: 900px) {
    #projects img{
        width: 50%;
    }
    #project1 img {
        width: 75%;
    }
}

@media screen and (max-width: 426px) {
    #projects img{
        width: 50%;
    }

    #project1 img {
        width: 75%;
    }
    
    #projects h2 {
        text-align: left;
    }
} */

.madeby {
    margin-top: 70px;
}

.custfooter li {
    font-size: 18px;
}